# Ignorar archivos de compilación y generación de Maven
target/
**/target/
!.mvn/wrapper/maven-wrapper.jar

# Ignorar archivos específicos de IDEs y entornos de desarrollo
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Archivos específicos de configuración (si no los necesitas en el repositorio)
# Puedes agregar cualquier archivo que no quieras compartir aquí
HELP.md
