.container {
  display: grid;
  grid-template-columns: repeat(5, 50px); /* Crea 5 columnas de 50px */
  grid-gap: 10px; /* Espacio entre los cuadrados */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.square {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid darkblue;
  border-radius: 5px;
}

.square.mesa-usuario-loggeado {
  background-color: green; /* Verde para reservas del usuario loggeado */
  color: white;
}

.square.mesa-usuario-otro {
  background-color: red; /* Rojo para reservas de otro usuario */
  color: white;
}

button {
  margin-left: -1000%;
  width: 150px;
}
