.container{
    margin-top: 50px;
}

button{
    margin-left: 5px;
}

#banner{
    width: 100%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
}

.comidas{
    height: 10%;
}