<!-- footer.component.html -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Información de Contacto -->
      <div class="col-md-4">
        <h5>Contacto</h5>
        <ul class="list-unstyled">
          <li>Dirección: Calle de la Parrilla, 123</li>
          <li>Teléfono: +34 123 456 789</li>
          <li>Email: info&#64;asador.com</li>
        </ul>
      </div>
      <!-- Horario -->
      <div class="col-md-4">
        <h5>Horario</h5>
        <ul class="list-unstyled">
          <li>Lunes - Viernes: 13:00 - 23:00</li>
          <li>Sábado: 12:00 - 00:00</li>
          <li>Domingo: 12:00 - 22:00</li>
        </ul>
      </div>
      <!-- Redes Sociales -->
      <div class="col-md-4">
        <h5>Síguenos</h5>
        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com" class="text-dark">Facebook</a></li>
          <li><a href="https://www.instagram.com" class="text-dark">Instagram</a></li>
          <li><a href="https://www.x.com" class="text-dark">X</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mt-3">
        <p class="text-muted">&copy; 2024 Asador. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
